<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguideudacity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.android.tourguideudacity.MainActivity"
            android:label="Things to do">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RiverPage"
            android:label="river page" />

        <activity
            android:name=".MuseumPage"
            android:label="musuem" />


        <activity
            android:name=".HikingPage"
            android:label="hiking" />

        <activity
            android:name=".resturantPage"
            android:label="resturant" />


    </application>

</manifest>